#roofmaster-logo {
  max-height: 100px;
}

.navbar {
  border-bottom: 30px #f1bf05 solid !important;
}

.card {
  margin: auto;
  height: 420px;
}

.img-wrapper {
  padding: auto;
  height: 190px;
}

.card-img-top {
  margin: auto;
  max-height: 190px;
  max-width: 190px;
  width: auto;
  height: auto;
}

.card-body {
  text-align: center;
}

.card-title {
  height: 48px;
}

.card-description {
  height: 60px;
}

.item-num {
  margin-bottom: 3px;
}
.product-cont {
  margin: 5% auto;
  height: auto;
  max-width: 75%;
  background-color: black;
}

#footer {
  border-top: 40px #e0e0e0 solid;
}

@media screen and (min-width: 577px) {
  .dropdown{
    max-width: 250px;
  }
}

@media screen and (max-width: 576px) {
  
  #roofmaster-logo {
    max-height: 60px;
  }

  .product-cont {
    margin: 5px auto;
    max-width: 95%;
    background-color: black;
  }

  .card {
    margin: auto;
    height: auto;
   }
}