#roofmaster-logo {
  max-height: 100px;
}

.navbar {
  border-bottom: 30px #f1bf05 solid !important;
}

.fa-social-icon {
  margin-left: .5rem;
  color: black;
}

#cart-icon {
  position: absolute;
  top: 44px;
  right: 80px;
}

#cart-icon-desc {
  font-size: 2rem;
  padding-left:2px;
  color: black;
}

#navbar-text-area {
  margin-left: 15%;
  font-size: 1.5rem;
}

.navbar-nav {
  width: 200px;
}

#navbar-prestige {
  margin: auto 15%;
}
 
#search-bar {
  margin-top: .5rem !important;
}

.card {
  margin: auto;
  height: 420px;
}

.img-wrapper {
  padding: auto;
  height: 190px;
}

.card-img-top {
  margin: auto;
  max-height: 190px;
  max-width: 190px;
  width: auto;
  height: auto;
}

.card-body {
  text-align: center;
}

.card-title {
  height: 48px;
}

.card-description {
  height: 60px;
}

.item-num {
  margin-bottom: 3px;
}

.sub-list {
  display: none;
}
.product-cont {
  margin: 3rem auto;
  height: auto;
  max-width: 75%;
  /* background-color: black; */
}

.category-cont {
  margin: 3rem auto;
  height: auto;
  max-width: 75%;
  /* background-color: black; */
}

#navbarSupportedContent {
  width: 300px;
}
.pagination {
  text-align: center;
  font-size: 2rem;
}

a.category-card, a.product-card {
  margin: auto 0;
  color: black;
}

.nav-link, .category-card {
  font-size: 1.5em;
}

#footer {
  border-top: 40px #e0e0e0 solid;
  background-color: #f8f9fa;
  text-align: center;
}

#company-info {
  font-size: 1.2rem;
  /* text-align: center; */
  font-weight: 800;
}

#breadcrumb-trail {
  margin-left: 1rem;
  padding: 0.5rem;
  
}

.breadcrumbs {
  color: black;
}

.product-display {
  margin: auto;
  text-align: center;
}

#product-img {
  height: auto;
  width: auto;
  max-width: 70%;
  border: 1px gray solid;
}

.featured-products {  
  background-color: #f1bf05;
  border: 1px black solid;
  margin: 2rem;
  height: 400px;
}

#featured-title {
  background-color: #f8f9fa;
  font-size: 2rem;
  width: 80%;
  border-left: 1px #866900 solid;
  border-right: 1px #866900 solid;
  border-bottom: 1px #866900 solid;
  /* border-left: 5rem #f1bf05 solid;
  border-right: 5rem #f1bf05 solid; */
  margin: 0 auto 1rem auto;
  /* margin: 1rem auto; */
}

.carousel-inner {
  height: 80%;
}

.controls-bg {
  background-color: rgba(0, 0, 0, 0.281);
}

.featured-img {
  margin: auto;
  max-height: 300px;
  max-width: 50%;
  /* max-height: 50%; */
}

.list-group {
  margin-top: 1rem;
  padding-right: 2rem;
  text-align: justify;
}

.cat-list-title {
  font-size: 1.2rem;
}

.subcat-list {
  /* display: none; */
  /* transition: opacity 1s; */
  transition: max-height 2s ease-out;
  /* opacity: 0; */
  max-height: 0;
  overflow: hidden;
}

.subcat-list-item {
  color: black;
}

.category-list:hover .subcat-list {
  /* display: block; */
  /* opacity: 1; */
  max-height: 50rem;
}

.dropdown-menu{
    width: 13rem;
  }

#add-cart-btn {
  width: 7rem;
}

#checkout {
  /* background-color: black; */
  border-left: 1px black solid;
  text-align: center;
  /* color: white; */
}

#checkout-button {
  margin-top: .5rem;
}

#cart-display {
  background-color: rgb(247, 247, 247);
}

.cart-product-quantity {
  width: 4rem;
}

.cart-product-name {
  margin: auto;
  font-size: 1.2rem;
}

.item-view {
  margin-bottom: 1rem;
  padding: 1rem 1rem;
  /* border-bottom: 1px black solid; */
  border-top: 1px black solid;
}
.cart-title {
  font-size: 2rem;
  font-weight: 800;
}

.price-col {
  text-align: center;
  border-bottom: 1px black solid;
  margin-bottom: .5rem;
  font-weight: 700;
  font-size: 1.5rem;
}

.cart-container {
  min-height: 450px;
}

.subtotal {
text-align: right;
border-top: 1px black solid;
font-size: 1.5rem;
font-weight: 700;
}

.checkout-subtotal {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}
.small-screen-toggle {
  display: none;
}

.desktop-only{
  display: block;
}

@media screen and (max-width: 991px) {
  .small-screen-toggle {
   display: inline;
  }

  .desktop-only {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  
  #roofmaster-logo {
    max-height: 60px;
  }

  #cart-icon {
    position: absolute;
    top: 24px;
    
  }

  .product-cont {
    margin: 5px auto;
    max-width: 95%;
    background-color: black;
  }

  .card {
    margin: auto;
    height: auto;
   }

   a.category-card, a.product-card {
    margin: auto;
  }

   /* #search-bar {
    position: absolute;
    right:  10px;
    top: 80px;
  } */
}